.fileupload {
  display: flex;
  flex-direction: column;
  background-color: aquamarine;
  width: 200%;
  height: 100%;
  justify-content: space-evenly;
  /* min-height: 40%; */
  /* max-height: 60%; */
  margin: 0;
}

.executeButton {
  width: 100%;
}

.outputBox {
  width: 50%;
  background-color: brown;
  border: '1px grey'
  
}

.main {
  height: 100%;
  display: inline;
  width: 100%;
}

.upper {
  /* background-color: chartreuse; */
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.tableHolder {
  margin: 0;
  background-color: darkgoldenrod;
  max-width: 250px;
}

.lower {
  width: 100%;
  display: flex;
  justify-content: space-around;
}